<div class="row">
  <div class="col mt-3">
    <!-- <button mat-icon-button (click)="onBack()"><mat-icon>keyboard_arrow_left</mat-icon></button> -->
    <!-- <button mat-icon-button (click)="onNext()"><mat-icon>keyboard_arrow_right</mat-icon></button> -->
  </div>
</div>

<mat-card class="mb-5 mt-3">
  <div class="row">
    <div class="col-3">
      <mat-card-content>
        <mat-list dense>
          <h3 mat-subheader>Date and time</h3>
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]; let i = index">
            <mat-list-item class="my-2">{{ i }}</mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </div>
    <div class="col">
      <mat-card-content>
        <mat-list dense>
          <h3 mat-subheader>Patient Name</h3>
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]; let i = index">
            <!-- <mat-list-item class="my-2">{{ i }}</mat-list-item> -->
            <mat-list-item class="my-2">
              <p>feature-todo</p>
              <button mat-icon-button class="ml-auto"><mat-icon>fullscreen</mat-icon></button>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
    </div>

  </div>
</mat-card>
