<div class="row">
  <div class="col">

      <div class="row">
        <div class="col-12">
          <button mat-raised-button color="accent" class="mr-3" (click)="generateNo()">GENERATE</button>
          <mat-form-field appearance="outline">
            <mat-label>{{ account }} no.</mat-label>
            <input matInput disabled type="text" [(ngModel)]="randomAlphaNumeric">
            <button mat-icon-button matSuffix ngxClipboard *ngIf="isClicked" [cbContent]="randomAlphaNumeric" color="accent"
              [matTooltip]="'copy to clipboard'" [matTooltipPosition]="'below'" (click)="onClipboard()"><mat-icon>content_copy</mat-icon></button>
          </mat-form-field>
        </div>
      </div>

  </div>
</div>
