<div class="row align-items-center">
  <div class="col">
    <mat-card (click)="openDoctorsRemarks()">
      <mat-card-title-group>
        <mat-card-title>Doctor's Remarks</mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit</mat-card-subtitle>
        <img mat-card-md-image>
      </mat-card-title-group>
    </mat-card>
  </div>
  <div class="col">
    <mat-card (click)="openVitalSigns()">
      <mat-card-title-group>
        <mat-card-title>Vital Signs</mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit</mat-card-subtitle>
        <img mat-card-md-image>
      </mat-card-title-group>
    </mat-card>
  </div>
  <div class="col">
    <mat-card (click)="openUserManual()">
      <mat-card-title-group>
        <mat-card-title>User Manual</mat-card-title>
        <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit</mat-card-subtitle>
        <img mat-card-md-image>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>
