<div addRemarksDialog>
  <form (ngSubmit)="onAddRemarks()" [formGroup]="remarksForm">
    <div class="row">
      <div class="col-12">


        <mat-form-field>

          <mat-label>Patient No.</mat-label>

          <input matInput [matAutocomplete]="reactiveAuto" formControlName="patientnumber">

          <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFnPatient">
            <mat-option *ngFor="let patient of reactivePatient | async" [value]="patient.patientNumber">
              <span>{{ patient.patientName }}</span>
              <span> ({{ patient.patientNumber }}) </span>
            </mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="remarksForm.get('patientnumber').invalid">
            <mat-error *ngIf="remarksForm.get('patientnumber').errors['required']">This is required.</mat-error>
          </mat-error>

        </mat-form-field>


      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Remarks</mat-label>
          <textarea matInput
          matTextareaAutosize
          matAutosizeMaxRows="10" formControlName="remarks"></textarea>
          <mat-error *ngIf="remarksForm.get('remarks').invalid">
            <mat-error *ngIf="remarksForm.get('remarks').errors['required']">This is required.</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div btn-container class="d-flex">
          <button mat-raised-button color="accent" class="ml-auto" type="submit">SAVE</button>
        </div>
      </div>
    </div>
  </form>
</div>
