<div list-dialog-container>
  <div class="row">
    <div class="col">
      <div *ngIf="!option">
        <p>Doctor name: {{ doctor.doctorName }}</p>
        <p>Doctor number: {{ doctor.doctorNumber }}</p>
        <p>Doctor email: {{ doctor.doctorEmail }}</p>
      </div>
      <div *ngIf="option">
        <p>Patient name: {{ patient.patientName }}</p>
        <p>Patient number: {{ patient.patientNumber }}</p>
        <p>Patient email: {{ patient.patientEmail }}</p>
      </div>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-content>
          <div *ngIf="!option">
            <p>Dr. {{ doctor.doctorName }}'s patients</p>
            <div *ngFor="let item of patients | async; let i = index">
              <p><strong>{{ i + 1 + '.' }}</strong> {{ item.patientName }}</p>
            </div>
          </div>
          <div *ngIf="option">
            <p>{{ patient.patientName }}'s doctors</p>
            <div *ngFor="let item of doctors | async; let i = index">
              <p><strong>{{ i + 1 + '.' }}</strong> {{ item.doctorName }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
