<div data-container>
  <div class="row">
    <div class="col-12">
      <div *ngIf="data.option">
        <mat-form-field>
          <mat-label>Patient list</mat-label>
          <input matInput [matAutocomplete]="patientAuto" [formControl]="patientControl">
          <mat-autocomplete #patientAuto="matAutocomplete" [displayWith]="displayFnPatient" (optionSelected)="onChange($event, true)">
            <mat-option *ngFor="let patient of reactivePatientList | async" [value]="patient">
            <span>{{ patient.patientName }}</span>
            <span> ({{ patient.patientNumber }}) </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
      <div *ngIf="!data.option">
        <mat-form-field>
          <mat-label>Doctor list</mat-label>
          <input matInput [matAutocomplete]="reactiveAuto" [formControl]="doctorControl">
          <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFnDoctor" (optionSelected)="onChange($event, false)">
            <mat-option *ngFor="let doctor of reactiveDoctorList | async" [value]="doctor">
            <span>{{ doctor.doctorName }}</span>
            <span> ({{ doctor.doctorNumber }}) </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div *ngIf="data.option">

        <p>Patient name: {{ patient?.patientName }}
          <button mat-icon-button *ngIf="!isClicked"
            ngxClipboard [cbContent]="patient?.patientName"
            [matTooltip]="'copy to clipboard'" [matTooltipPosition]="'below'"
            (click)="onClipboard(true, patient.patientName)"><mat-icon>content_copy</mat-icon></button>
        </p>
        <p>Patient number: {{ patient?.patientNumber }}
          <button mat-icon-button *ngIf="!isClicked"
            ngxClipboard [cbContent]="patient?.patientNumber"
            [matTooltip]="'copy to clipboard'" [matTooltipPosition]="'below'"
            (click)="onClipboard(true, patient.patientNumber)"><mat-icon>content_copy</mat-icon></button>
        </p>
      </div>
      <div *ngIf="!data.option">
        <p>Doctor name: {{ doctor?.doctorName }}
          <button mat-icon-button *ngIf="!isClicked"
            ngxClipboard [cbContent]="doctor?.doctorName"
            [matTooltip]="'copy to clipboard'" [matTooltipPosition]="'below'"
            (click)="onClipboard(false, doctor.doctorName)"><mat-icon>content_copy</mat-icon></button>
        </p>
        <p>Doctor number: {{ doctor?.doctorNumber }}
          <button mat-icon-button *ngIf="!isClicked"
            ngxClipboard [cbContent]="doctor?.doctorNumber"
            [matTooltip]="'copy to clipboard'" [matTooltipPosition]="'below'"
            (click)="onClipboard(false, doctor.doctorNumber)"><mat-icon>content_copy</mat-icon></button>
        </p>
      </div>
    </div>
  </div>
</div>
